<form action="" method="POST">
<div class="form-horizontal">
  
  <div class="form-group">
    <label class="col-sm-1 control-label">Location:</label>
    <div class="col-sm-5"><input type="text" name="feed[location]" class="form-control" id="us3-address"/></div>
  </div>

  <div class="form-group">
    <label class="col-sm-1 control-label">Radius:</label>
    <div class="col-sm-2"><input type="text" name="feed[radius]" class="form-control" id="us3-radius"/></div>
  </div>

  <div id="us3" style="width: 550px; height: 400px;"></div>

  <div class="clearfix">&nbsp;</div>

  <div class="m-t-small">
    <label class="p-r-small col-sm-1 control-label">Lat.:</label>
    <div class="col-sm-2"><input type="text" name="feed[latitude]" class="form-control" style="width: 110px" id="us3-lat"/></div>
    <label class="p-r-small col-sm-1 control-label">Long.:</label>
    <div class="col-sm-2"><input type="text" name="feed[longtitude]" class="form-control" style="width: 110px" id="us3-lon"/></div>
  </div>

  <div class="clearfix"></div>
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>